* {
    box-sizing: border-box;
    scroll-behavior: smooth;
   /* border: black 2px solid;*/
}

body {
    font-family: Monospace, Monaco;
}

#title {
    font-weight: 800;
    font-size: 75px;
    position: fixed;
}

.img {
    text-align: right;
}

.sub-titles, .list, .instructions, .description {
    text-align: right;
}

.list {
    list-style-type: none
}

#content {
    max-width: 50vw;
    float: right;
}